.carCalyChild,
.carCalyItem {
  position: absolute;
  top: 0;
  left: calc(50% - 1408px);
  background-color: var(--color-orangered-100);
  width: 2320px;
  height: 1825px;
}
.carCalyItem {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--pure-white);
  top: 26px;
  left: calc(50% - 812px);
  border-radius: var(--br-26xl);
  width: 1065px;
  height: 1726px;
}
.car,
.details {
  top: 0;
  line-height: 28px;
  display: inline-block;
  width: 140px;
}
.car {
  position: absolute;
  left: calc(50% - 312px);
  height: 52px;
}
.details {
  left: calc(50% - 93px);
}
.carParent,
.details,
.payment {
  position: absolute;
  height: 52px;
}
.payment {
  top: 0;
  left: calc(50% + 172px);
  line-height: 28px;
  display: inline-block;
  width: 140px;
}
.carParent {
  top: 21px;
  left: calc(50% - 291px);
  width: 624px;
}
.image37Icon,
.image38Icon {
  position: absolute;
  top: 5px;
  left: calc(50% - 333px);
  width: 69px;
  height: 68px;
  object-fit: cover;
}
.image38Icon {
  top: 2px;
  left: calc(50% - 143px);
  width: 71px;
  height: 80px;
}
.groupParent,
.image39Icon {
  position: absolute;
  height: 86px;
}
.image39Icon {
  top: 0;
  left: calc(50% + 102px);
  width: 86px;
  object-fit: cover;
}
.groupParent {
  top: 46px;
  left: calc(50% - 716px);
  width: 666px;
  text-align: center;
  font-size: var(--font-size-13xl);
}
.inside,
.nazwaSamochodu {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  border-radius: var(--br-5xs);
}
.inside {
  background-color: transparent;
  top: 675px;
  left: calc(50% - 78px);
  width: 245px;
  height: 130px;
  background-image: url(/zdj-samochodu3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.nazwaSamochodu {
  background-color: var(--color-gainsboro-300);
  top: 188px;
  left: calc(50% - 708px);
  width: 268px;
  height: 70px;
}
.icons,
.label {
  position: relative;
  display: none;
}
.icons {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.label {
  font-size: var(--body-mobile-m-regular-size);
  line-height: 17px;
  font-family: var(--body-desktop-s-regular);
  color: var(--pure-white);
  text-align: left;
}
.buttonmain {
  position: absolute;
  top: 0;
  left: calc(50% - 109px);
  border-radius: var(--corner-rad-pill);
  background-color: var(--color-orangered-200);
  border: 2px solid var(--color-orangered-200);
  box-sizing: border-box;
  width: 218px;
  height: 51px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
}
.buttonmainWrapper,
.continueToBook {
  position: absolute;
  top: 0;
  left: calc(50% - 113px);
  width: 218px;
  height: 51px;
}
.continueToBook {
  top: 17px;
  left: calc(50% - 85px);
  font-size: var(--body-mobile-m-regular-size);
  line-height: 17px;
  display: flex;
  font-family: var(--body-desktop-s-regular);
  color: var(--pure-white);
  text-align: left;
  align-items: center;
  width: 198px;
  height: 18px;
}
.groupContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 378px;
  left: calc(50% - 708px);
  width: 226px;
  height: 51px;
}
.inOrderTo,
.model11,
.zDay {
  display: flex;
  align-items: center;
}
.zDay {
  position: absolute;
  top: 296px;
  left: calc(50% - 598px);
  font-size: var(--font-size-xl);
  line-height: 17px;
  width: 116px;
  height: 37px;
}
.inOrderTo,
.model11 {
  justify-content: center;
}
.model11 {
  position: absolute;
  top: 188px;
  left: calc(50% - 706px);
  font-size: var(--font-size-11xl);
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  width: 266px;
  height: 70px;
}
.inOrderTo {
  top: 435px;
  left: calc(50% - 710px);
  font-size: var(--body-mobile-m-regular-size);
  line-height: 17px;
  width: 214px;
  height: 40px;
}
.description,
.div,
.inOrderTo {
  position: absolute;
  text-align: center;
}
.div {
  top: 278px;
  left: calc(50% - 698px);
  font-size: var(--font-size-11xl);
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 70px;
}
.description {
  top: 865px;
  left: calc(50% - 812px);
  font-size: var(--font-size-7xl);
  line-height: 28px;
  display: inline-block;
  width: 283px;
  height: 54px;
}
.opis {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 919px;
  left: calc(50% - 754px);
  border-radius: var(--br-5xs);
  width: 908px;
  height: 140px;
}
.hyundaiExterHas {
  position: absolute;
  top: 936px;
  left: calc(50% - 731px);
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: inline-block;
  width: 868px;
  height: 110px;
}
.opisTechiniczny {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 1330px;
  left: calc(50% - 749px);
  border-radius: var(--br-5xs);
  width: 908px;
  height: 140px;
}
.technicalCondition {
  position: absolute;
  top: 1284px;
  left: calc(50% - 739px);
  font-size: var(--font-size-7xl);
  line-height: 28px;
  display: inline-block;
  text-align: center;
  width: 246px;
  height: 46px;
}
.technicalConditionIs {
  position: absolute;
  top: 1348px;
  left: calc(50% - 722px);
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: inline-block;
  width: 868px;
  height: 110px;
}
.image36Icon {
  position: absolute;
  top: 0;
  left: calc(50% - 221px);
  width: 442px;
  height: 181px;
  object-fit: cover;
}
.airConditioning,
.color,
.drive,
.fuel,
.gear,
.passengers,
.technicalCondition1,
.yearOfProduction {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--pure-white);
  position: absolute;
  top: 97px;
  left: calc(50% - 137px);
  width: 94px;
  height: 23px;
}
.airConditioning,
.color,
.drive,
.gear,
.passengers,
.technicalCondition1,
.yearOfProduction {
  top: 58px;
}
.airConditioning,
.color,
.drive,
.passengers,
.technicalCondition1,
.yearOfProduction {
  top: 134px;
  left: calc(50% - 132px);
}
.airConditioning,
.drive,
.passengers,
.technicalCondition1,
.yearOfProduction {
  top: 19px;
  left: calc(50% + 68px);
}
.airConditioning,
.passengers,
.technicalCondition1,
.yearOfProduction {
  top: 97px;
  left: calc(50% + 98px);
  width: 28px;
}
.airConditioning,
.technicalCondition1,
.yearOfProduction {
  top: 134px;
  left: calc(50% + 121px);
}
.technicalCondition1,
.yearOfProduction {
  top: 58px;
  left: calc(50% + 148px);
}
.yearOfProduction {
  top: 19px;
  left: calc(50% - 64px);
}
.tabelaZeSpecyfikacja,
.tabelaZeSpecyfikacjaWrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 221px);
  width: 442px;
  height: 181px;
}
.tabelaZeSpecyfikacjaWrapper {
  top: 1081px;
  left: calc(50% - 759px);
}
.image46Icon {
  position: absolute;
  top: 1216px;
  left: 1075px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.diesel,
.green {
  left: calc(50% - 668px);
  line-height: 24px;
  display: inline-block;
  width: 116px;
  height: 20px;
}
.green {
  position: absolute;
  top: 1213px;
}
.diesel {
  top: 1175px;
}
.diesel,
.div1,
.manual {
  position: absolute;
}
.manual {
  top: 1136px;
  left: calc(50% - 668px);
  line-height: 24px;
  display: inline-block;
  width: 116px;
  height: 20px;
}
.div1 {
  top: 1175px;
  left: calc(50% - 429px);
}
.div1,
.div2,
.x4 {
  line-height: 24px;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.div2 {
  position: absolute;
  top: 1136px;
  left: calc(50% - 385px);
}
.x4 {
  top: 1100px;
  left: calc(50% - 461px);
}
.carCaly,
.div3,
.x4 {
  position: absolute;
}
.div3 {
  top: 1100px;
  left: calc(50% - 594px);
  line-height: 24px;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.carCaly {
  top: 394px;
  left: -528px;
  background-color: var(--pure-white);
  width: 2964px;
  height: 1824px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-desktop-s-regular-size);
  color: var(--color-black);
  font-family: var(--body-desktop-s-regular);
}
