/*.tpay {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-100);
  position: absolute;
  top: 55px;
  left: calc(50% - 406px);
  border-radius: var(--br-5xs);
  width: 817px;
  height: 425px;
}
.tpayFrame {
  position: absolute;
  top: 1170px;
  left: calc(50% - 524px);
  width: 1066px;
  height: 526px;
  overflow: hidden;
}*/



.tpay {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  position: absolute;
  top: 1200px;
  left: calc(50% - 408px);
  border-radius: 10px;
  width: 816px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tpay label {
  margin-bottom: 10px;
}

.tpay button {
  margin-top: 20px;
  background-color: orangered;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cardElementContainer {
  width: 100%;
  margin-bottom: 20px;
}

.cardElementLabel {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Additional styles for CardElement can be added here */
.cardElement {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payButton {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
