.carInner,
.groupChild {
  position: absolute;
  width: 2223px;
  height: 236px;
}
.groupChild {
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
}
.carInner {
  top: 2219px;
  left: 1px;
}
.bookYourCar,
.ourLocations,
.serviceRules {
  position: absolute;
  top: 95px;
  right: 783px;
  line-height: 28px;
}
.bookYourCar,
.serviceRules {
  right: 584px;
}
.serviceRules {
  right: 395px;
}
.icons,
.label {
  position: relative;
}
.icons {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.label {
  font-size: var(--body-mobile-m-regular-size);
  line-height: 17px;
  font-family: var(--body-desktop-s-regular);
  color: var(--pure-white);
  text-align: left;
}
.buttonmain {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--corner-rad-pill);
  background-color: var(--color-orangered-100);
  border: 2px solid var(--color-orangered-100);
  box-sizing: border-box;
  width: 169px;
  height: 51px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
}
.register,
.screenshotFrom2023102012 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.register {
  top: 92px;
  right: 130px;
  width: 169px;
  height: 51px;
}
.screenshotFrom2023102012 {
  top: 54px;
  left: 49px;
  width: 296px;
  height: 138px;
  /*background-image: url(/screenshotfrom20231020121530removebgpreview14@2x.png);*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.bookCar,
.ourLocations1,
.serviceRules1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-200);
  position: absolute;
  top: 83px;
  right: 756px;
  width: 178px;
  height: 67px;
}
.bookCar,
.serviceRules1 {
  right: 569px;
  width: 163px;
}
.serviceRules1 {
  right: 371px;
  width: 159px;
}
.image32Icon {
  position: absolute;
  top: 2261px;
  left: calc(50% - 238px);
  width: 321px;
  height: 143px;
  object-fit: auto;
}
.frontDuzyIcon,
.frontIcon,
.sideIcon {
  position: absolute;
  top: 1028px;
  left: 215px;
  width: 250px;
  height: 190px;
  object-fit: contain;
}
.frontDuzyIcon,
.sideIcon {
  top: 470px;
  left: 500px;
  width: 50%;
  height: 508px;
}
.sideIcon {
  /*top: 1054px;*/
  top: 1028px;
  left: 546px;
  width: 250px;
  height: 190px;
}
.car {
  position: relative;
  background-color: var(--pure-white);
  width: 100%;
  height: 2450px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-orangered-100);
  font-family: var(--body-desktop-s-regular);
}
